# =========================
# Dataset CSV
# =========================
*.csv

# =========================
# Model đã train
# =========================
*.joblib

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Output / temporary files
# =========================
*.tmp
*.log